{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "color-function-notation": "modern",
    "color-hex-length": null,
    "custom-property-empty-line-before": null,
    "unit-allowed-list": [
      "%",
      "px",
      "ms"
    ]
  }
}